.bg-gradient-purple {
  background-color: #861657;
  background-image: linear-gradient(326deg, #861657 0%, #ffa69e 74%);
}

.bg-gradient-blue {
  background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
}

.bg-gradient-teal {
  background-image: linear-gradient( 135deg, #90F7EC 10%, #32CCBC 100%);
}

#adminmenuback {
  position: fixed;
  z-index: 999;
}

#new_form_modal .zefflmodal-section {
  text-align: center;
  margin-top: 12px;
  min-height: 86px;
}

#new_form_modal .zefflmodal-section .button {
  margin-bottom: 11px;
}

#new_form_modal .zefflmodal-body .button {
  font-size: 12px;
  height: 45px;
}

#new_form_modal .zefflmodal-header {
  padding-bottom: 0;
}

#new_form_modal .response {
  display: block;
  font-size: 13px;
}

#new_form_modal .zefflmodal-section .response {
  padding: 5px 12px 7px 12px;
  margin: 0 auto;
}

#new_form_modal .zeffl-spinner {
  margin: 0 auto;
}

#new_form_modal .zefflmodal-body input[type='text'] {
  color: #888;
  font-size: 15px;
  padding: 12px 14px;
  width: 100%;
}

#new_form_modal .zefflmodal-body .button-file {
  color: #777;
}

#new_form_modal .zefflmodal-body {
  padding-bottom: 10px;
}

#new_form_modal label {
  position: relative;
}

#new_form_modal .nav-tabs {
  display: block;
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 14px;
}

#new_form_modal .nav-tabs span {
  letter-spacing: 0;
  cursor: pointer;
  position: relative;
  bottom: -1px;
  border: 1px solid transparent;
  border-radius: 2px 2px 0 0;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  font-weight: bold;
  width: 50%;
  border-bottom: 0px;
  display: inline-block;
  color: #999;
  padding: 12px 0;
  text-align: center;
}

#new_form_modal .nav-tabs span:hover {
  color: #777;
}

#new_form_modal .nav-tabs span.active {
  border-color: #ddd;
  background-color: white;
  color: #48e;
}

.zeffl-forms-css {
  padding-right: 0.9375em;
  padding-top: 0.9375em;
}

.zeffl-forms-css h1 {
  font-weight: bold;
  display: inline-block;
  letter-spacing: -0.3px;
  color: #48e;
  margin: 0;
}

.zeffl-forms-css h1>span {
  color: #888;
  font-weight: 300;
}

.zeffl-forms-css .zeffl-brand-header {
  -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
    position: relative;
    padding: 16px 24px;
    background-color: #46acff;
    border-radius: 4px;
}

.zeffl-forms-css .zeffl-brand-header .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;
}


.zeffl-forms-css .sub-header {
  position: relative;
  font-size: 1.5rem;;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  color: #fff;
  margin: 0;
}

.zeffl-forms-css .sub-header a {
  text-decoration: none;
  color: #777;
  outline: none;
  box-shadow: none;
}

.zeffl-forms-css .sub-header a:hover {
  color: #444;
}

.zeffl-forms-css .block {
    position: relative;
      min-width: 0;
      margin-bottom: 1.5rem;
      word-wrap: break-word;
      background-clip: border-box;
      border: 1px solid;
      border-radius: .25rem;
      background-color: #fff;
      border: 0;
      box-shadow: 0 1px 1px 0 rgba(60,75,100,.14), 0 2px 1px -1px rgba(60,75,100,.12), 0 1px 3px 0 rgba(60,75,100,.2);
      border-color: #d8dbe0;
      padding: 10px;
}

.zeffl-forms-css .row h2 {
  padding: 10px;
  display: inline-block;
  color: #48e;
  margin-bottom: 0;
  margin-top: 5px;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 16px 0;
}

.zeffl-forms-css .row h2 span {
  letter-spacing: 0;
  text-transform: none;
  color: #888;
  font-weight: normal;
}

.zeffl-forms-css .zeffl-header {
  padding: 15px 0;
  color: #999;
  margin: auto;
}

.zeffl-forms-css .zeffl-header .zeffl-header-item {
  padding: 5px;
  height: 180px;
}

.zeffl-forms-css .zeffl-header .zeffl-header-item > div {
  display: flex;
  align-items: center;
  height:100%;
  width: 98%;
  border-radius: 4px;
  color: #fff;
}

.zeffl-forms-css .zeffl-header .has-hover {
  color: #999;
  text-decoration: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

.zeffl-forms-css .zeffl-header .has-hover .one {
  text-decoration: none;
}

.zeffl-forms-css .zeffl-header .has-hover:hover {
  color: #367fed;
}

.zeffl-forms-css .zeffl-header .has-hover:hover .one {
  border-color: #367fed;
}

.zeffl-forms-css .zeffl-header .one {
  display: block;
  text-align: center;
  font-size: 4em;
  border-radius: 100px;
  width: 48px;
  margin: 6px auto;
  margin-bottom: 10px;
  line-height: 46px;
}

.zeffl-forms-css .zeffl-header .two {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  letter-spacing: 0.6px;
  text-align: center;
}

.zeffl-forms-css .zeffl-header .three {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  letter-spacing: 0.6px;
  text-align: center;
  margin-top: -1px;
  margin-bottom: 2px;
}

.zeffl-forms-css .row {
  margin-bottom: 0.9375em;
  margin: auto;
}

.zeffl-forms-css #submission_modal .zefflmodal-body .label {
  display: inline-block;
  width: 150px;
  font-weight: bold;
  padding: 5px;
  vertical-align: top;
}

.zeffl-forms-css #submission_modal .zefflmodal-body .value {
  display: inline-block;
  padding: 5px;
}

.zeffl-forms-css .subs_options {
  color: #888;
  width: 50px;
  position: relative;
  z-index: 101;
  display: inline-block;
  text-align: center;
}

.zeffl-forms-css .subs_options>span {
  display: none;
  font-size: 1.2em;
  -webkit-animation: optionsIn 0.3s;
  animation: optionsIn 0.3s;
}

.zeffl-forms-css .subs_options #trash-subs {
  cursor: pointer;
  padding: 10px;
  z-index: 1071;
}

.zeffl-forms-css .subs_options #trash-subs:hover {
  color: red;
}

.zeffl-forms-css .subs_cover.show_options .subs_options>span {
  display: inline-block;
}

.zeffl-forms-css .no-subs-content {
  display: none;
  letter-spacing: 0;
  text-align: center;
  font-size: 2em;
  color: #bbb;
  padding: 80px 20px;
}

.zeffl-forms-css span.no-subs-content {
  display: block;
  cursor: pointer;
}

.zeffl-forms-css span.no-subs-content:hover {
  color: #999;
}

.zeffl-forms-css .form_list .no-subs-content {
  display: block;
}


.zeffl-forms-css .subs_list.no-subs .no-subs-content {
  display: block;
}

.zeffl-forms-css .subs_list .tbody .tr>span {
  -webkit-animation: fadeInLeftLight 0.2s ease-out;
  animation: fadeInLeftLight 0.2s ease-out;
}

.zeffl-forms-css .subs_list .tbody .tr>span:first-child {
  -webkit-animation: none;
  animation: none;
}

.zeffl-forms-css .subs_list .tr>span:first-child label {
  display: block;
  text-align: center;
  padding: 14px 10px 15px 10px;
}

.zeffl-forms-css .subs_list .tr>span:first-child label input {
  margin-right: 0;
}

.zeffl-forms-css .subs_list .tr>span:first-child {
  padding: 0;
}

.zeffl-forms-css .table_list .tbody .tr {
  border-bottom: 1px solid #eaeaea;
}

.zeffl-forms-css .subs_list .tbody .tr:last-child {
  border-bottom: 0px;
}

.zeffl-forms-css .subs_list .loader {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 101;
}

.zeffl-forms-css .subs_list .thead > *{
  color: #000;
}

.zeffl-forms-css .subs_list .thead select {
  box-shadow: none;
  border: 0px;
  min-width: 120px;
  padding: 10px;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  color: #000;
  font-size: 13px;
  margin-top: 6px;
}

.zeffl-forms-css .subs_list .thead select:hover {
  color: #333;
}

.zeffl-forms-css .pagination {
  background-color: #fafafa;
  color: #999;
}


.zeffl-forms-css .pagination>span {
  cursor: pointer;
  letter-spacing: 0;
  padding: 6px 0px;
  width: 6.25%;
  text-align: center;
  left: -1px;
  display: inline-block;
  position: relative;
  border: 1px solid #fafafa;
  border-bottom: 0px;
}

.zeffl-forms-css .pagination>span.active {
  background-color: white;
  height: 31px;
  padding-top: 5px;
  padding-bottom: 7px;
  bottom: -1px;
  color: #666;
  border: 1px solid #ccc;
}

.zeffl-forms-css .pagination>span.active:hover {
  background-color: white;
}

.zeffl-forms-css .pagination>span:hover {
  background-color: #fafafa;
}

.zeffl-forms-css .table_list {
  width: 100%;
  max-width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}

.zeffl-forms-css .table_list span {
  display: inline-block;
  letter-spacing: 0px;
  vertical-align: top;
  box-sizing: border-box;
}

.zeffl-forms-css .table_list a {
  text-decoration: none;
  box-sizing: border-box;
  padding: 14px 10px 15px 10px;
  display: block;
  color: #000;
  outline: none;
  box-shadow: none;
}

.zeffl-forms-css .table_list .thead {
  background-color: #fafafa;
}

.zeffl-forms-css .table_list .thead>span {
  padding: 15px 10px;
  min-height: 48px;
  font-weight: bold;
  font-size: 1em;
}

.zeffl-forms-css .table_list .tbody {
  border-top: 1px solid #ccc;
}

.zeffl-forms-css .table_list .tbody a {
  font-size: 0.95em;
}


.zeffl-forms-css .table_list .tr {
  height: 48px;
  font-size: 1rem;
}

.zeffl-forms-css .table_list .tr:nth-child(2n+1) {
  background-color: #fff;
}

.zeffl-forms-css .table_list .tr:last-child {
  border-bottom: 0px;
}

.zeffl-forms-css .table_list .tr>span {
  color: #777;
}

.zeffl-forms-css .table_list .tr>span:first-child {
  border-right: 1px solid #ccc;
}

.zeffl-forms-css .table_list .tr:last-child td {
  border-bottom: 0px;
}


.zeffl-forms-css .table_list .tbody .tr:hover {
  background: #fbfbfb;
}

.zeffl-forms-css .table_list .tbody .tr:hover a,
.zeffl-forms-css .table_list .tbody .tr:hover span {
  color: #555;
}

.zeffl-forms-css .table_list .tr>span:nth-child(5) {
  text-align: center;
}

.zeffl-forms-css .table_list td a {
  display: block;
  padding: 15px 10px;
  color: inherit;
  text-decoration: none;
  box-shadow: none;
  outline: none;
}

.zeffl-forms-css .table_list span .trash-icon {
  padding: 15px 10px;
  font-size: 1.2em;
  display: block;
  cursor: pointer;
}

.zeffl-forms-css .table_list span .trash-icon:hover {
  color: red;
}